<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="creditcard" class="in.ashok.it.CreditCardPayment" />

	<bean id="debitcard" class="in.ashok.it.DebitCard" />

	<bean id="upi" class="in.ashok.it.UpiPayment" />

	<bean id="billcollector" class="in.ashok.it.BillCollector">
        <constructor-arg name="payment" ref="upi" />
	</bean>
  

</beans>